.SearchArt {
  display: flex;
  padding: 10px 20px;
}

.SearchArtInput {
  font-size: 20px;
  font-family: "Noto Serif Display", serif;
  font-style: italic;
  padding: 5px;
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
}

.SearchArtButton {
  padding: 2px 5px;
  border: 0;
  outline: 0;
  background: transparent;
}

.InSearch p {
  padding-left: 20px;
}

.SearchTerm {
  font-style: italic;
}

.SearchArtButton {
  font-size: 25px;
  padding-bottom: 5px;
  padding-left: 10px;
}
