.PanelBackground {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 105px);
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;
}

.PanelBackgroundLoggedIn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 155px);
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;
}

.PanelContainer {
  background-color: #fff;
  border-top: 1px solid #000;
  border-left: 2px solid #000;
  height: calc(100vh - 105px);
  width: 660px;
  position: fixed;
  right: 0;
  z-index: 2;
  bottom: 0;
  box-sizing: border-box;
  padding: 40px 120px 60px 40px;
  overflow: scroll;
  transition: 300ms;
}

.PanelContainerLoggedIn {
  background-color: #fff;
  border-top: 1px solid #000;
  border-left: 2px solid #000;
  height: calc(100vh - 155px);
  width: 660px;
  position: fixed;
  right: 0;
  z-index: 2;
  bottom: 0;
  box-sizing: border-box;
  padding: 40px 120px 60px 40px;
  overflow: scroll;
  transition: 300ms;
}

.PanelContainer img {
  max-height: 400px;
  margin: 10px auto;
}

.PanelContainerLoggedIn img {
  max-height: 400px;
  margin: 10px auto;
}

.ObjectDate {
  font-style: italic;
}

.Artist {
  font-weight: bold;
  font-size: 18px;
}

.AboutArtist {
  font-size: 14px;
}

.ButtonContainer {
  width: 100%;
}

.CloseButton {
  background-color: transparent;
  border: none;
  font-size: 24px;
}
